<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="UpperServiceLibrary.UpperService">
        <endpoint address="http://localhost:4444/UpperService" binding="basicHttpBinding" bindingConfiguration=""
                  contract="UpperServiceLibrary.IUpperService" />
      </service>

    </services>
  </system.serviceModel>

</configuration>